sudo: false

language: ruby
rvm: 2.4.4

# for faster builds
cache: bundler
env: BUNDLE_PATH=vendor/bundle

install:
- bundle install

before_script:
- npm install -g bower
- bower install

script:
- bundle exec jekyll build 2> error.log
- cat >&2 error.log
- ( ! grep -qie Error error.log )
