---
layout: page
---
<div class="row">
    <div class="col-md-12 search">
        <input class="col-xs-12 form-control" value="" placeholder="Search a Project..." type="text">
    </div>
    <div class="clearfix"></div>

    <div class="projects">
        {% assign projects = site.projects | where: "category", "tooling" %}
        <div class="col-md-12 title tooling">
            <h2>Tooling</h2>
        </div>
        <div class=" project-list tooling">
            {% include project-block.html %}
        </div>
        {% assign projects = site.projects | where: "category", "scala3migration" %}
        <div class="col-md-12 title scala3migration">
            <h2>Scala 3 Migration</h2>
        </div>
        <div class=" project-list scala3migration">
            {% include project-block.html %}
        </div>
        {% assign projects = site.projects | where: "category", "enhancement" %}
        <div class="col-md-12 title enhancement">
            <h2>Scala Language Enhancements</h2>
        </div>
        <div class=" project-list enhancement">
            {% include project-block.html %}
        </div>
        {% assign projects = site.projects | where: "category", "community" %}
        <div class="col-md-12 title community">
            <h2>Community</h2>
        </div>
        <div class=" project-list community">
            {% include project-block.html %}
        </div>
        {% assign projects = site.projects | where: "category", "education" %}
        <div class="col-md-12 title education">
            <h2>Education</h2>
        </div>
        <div class=" project-list education">
            {% include project-block.html %}
        </div>
        {% assign projects = site.projects | where: "category", "process" %}
        <div class="col-md-12 title process">
            <h2>Processes Managed by the Scala Center</h2>
        </div>
        <div class=" project-list process">
            {% include project-block.html %}
        </div>
        {% assign advisory = site.projects | where: "label", "advisoryBoardProposals" | first %}
        <div class="col-md-12">
            <div class="advisory block" style="font-size: 20px; line-height: 30px; margin: 40px 0 80px 0;">
                <h2>Advisory Board Proposals</h2>
                See <a href="https://github.com/scalacenter/advisoryboard/tree/master/proposals">here</a> the list
                of Advisory Board proposals and their respective status.
            </div>
        </div>
        <div class="col-md-12 no-results">
            <h3>No results found</h3>
        </div>
    </div>
</div>

{% for project in site.projects %}
    <div class="modal fade contributors-dialog" tabindex="-1" role="dialog" id="modal-{{ project.label }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{ project.name }} contributors</h4>
                </div>
                <div class="modal-body team">

                    {% for contributor in project.contributors %}
                    {% assign member = site.data.team-members.members | where: "member", contributor| first %}
                    <div class="team-member">
                        <h2>{{ member.name }}</h2>
                        <h3>{{ member.title }}</h3>
                        <div class="circular" style="background-image: url({{ member.photo }});"></div>
                        <a href="mailto:{{ team.email }}">{{ member.email }}</a>
                        <ul class="contact-for">
                            {% for c in member.contact_for %}
                            <li>
                                {% assign link = site.contact | where: "label", c | first %}
                                {% if link %}
                                <a href="{{ link.link }}">{{ link.name }}</a>
                                {% else %}
                                {% assign link = site.projects | where: "label", c | first %}
                                {% if link.github %}
                                <a href="{{ link.github }}">{{ link.name }}</a> {% if link.status %}<span class="status {{ link.status | downcase | remove: ' ' | remove: '!'}}">{{ link.status }}</span>{% endif %}
                                {% elsif link.web %}
                                <a href="{{ link.web }}">{{ link.name }}</a> {% if link.status %}<span class="status {{ link.status | downcase | remove: ' ' | remove: '!'}}">{{ link.status }}</span>{% endif %}
                                {% else %}
                                <a href="{{ link.link }}">{{ link.name }}</a>
                                {% endif %}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endfor %}

<div class="modal fade description-dialog" tabindex="-1" role="dialog" id="modal-description">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body project">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
