---
layout: page
---
<div class="search">
    <input class="col-xs-12 form-control" value="" placeholder="Search a Project..." type="text">
</div>
<div class="clearfix"></div>

<div class="projects">
    {% for pr in site.projects %}
    <div class="project">
        <h2>{{ pr.name }}</h2>
        <div class="references">
            {% if pr.web %}
            <a href="{{ pr.web }}"><i class="fa fa-globe"></i></a>
            {% endif %}
            {% if pr.github %}
            <a href="{{ pr.github }}"><i class="fa fa-github"></i></a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        {{ pr }}
        <div class="contributors">
            <a class="contributors-modal" href="#" data-toggle="modal" data-target="#modal-{{ pr.label }}">
                <i class="fa fa-user"></i> {{ pr.contributors | size }} Contributors
            </a>
            <ul>
                {% for contributor in pr.contributors %}
                {% assign contr = site.team | where: "member", contributor| first %}
                <li title="{{ contr.name }}"><img src="{{ contr.photo }}" alt="{{ contr.name}}" ></li>
                {% endfor %}
            </ul>

            {% if pr.origin %}
            <a class="origin" href="{{ pr.origin }}"><i class="fa fa-eye"></i> Origin of the project</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% for pr in site.projects %}
<div class="modal fade contributors-dialog" tabindex="-1" role="dialog" id="modal-{{ pr.label }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ pr.name }} contributors</h4>
            </div>
            <div class="modal-body team">

                {% for contributor in pr.contributors %}
                {% assign member = site.team | where: "member", contributor| first %}
                <div class="team-member">
                    <h2>{{ member.name }}</h2>
                    <h3>{{ member.title }}</h3>
                    <div class="circular" style="background-image: url({{ member.photo }});"></div>
                    <a href="mailto:{{ team.email }}">{{ member.email }}</a>
                    <ul class="contact-for">
                        {% for c in member.contact_for %}
                        <li>
                            {% assign link = site.contact | where: "label", c | first %}
                            {% if link %}
                            <a href="{{ link.link }}">{{ link.name }}</a>
                            {% else %}
                            {% assign link = site.projects | where: "label", c | first %}
                            {% if link.github %}
                            <a href="{{ link.github }}">{{ link.name }}</a> {% if link.status %}<span class="status">{{ link.status }}</span>{% endif %}
                            {% elsif link.web %}
                            <a href="{{ link.web }}">{{ link.name }}</a> {% if link.status %}<span class="status">{{ link.status }}</span>{% endif %}
                            {% else %}
                            <a href="{{ link.link }}">{{ link.name }}</a>
                            {% endif %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endfor %}}