---
layout: page
---

<div class="row" style="margin-bottom: 50px;">
    <div style="margin-top: 30px;">
        <div class="team">
            {% assign members = site.data.team-members.members %}
            {% for member in members %}{% if member.active %}
            <div class="col-md-6">
                <div class="team-member">
                    <div class="circular visible-xs" style="background-image: url({{ member.photo }});"></div>
                    <h2>{{ member.name }}</h2>
                    <h3>{{ member.title }}</h3>
                    <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                    <div class="social">
                        {% assign github = member.github %}
                        {% unless github %}
                        {% assign displayGithub = "none" %}
                        {% endunless %}
                        {% assign twitter = member.twitter %}
                        {% unless twitter %}
                        {% assign displayTwitter = "none" %}
                        {% endunless %}
                        <a href="https://github.com/{{ github }}" style="display: {{ displayGithub }}" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="https://twitter.com/{{ twitter }}" style="display: {{ displayTwitter }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>

                    <div class="circular hidden-xs" style="background-image: url({{ member.photo }});"></div>
                    <ul class="contact-for">
                        {% for c in member.contact_for %}
                            <li>
                                {% assign link = site.contact | where: "label", c | first %}
                                {% if link %}
                                    {% if link.link %}
                                        <a href="{{ link.link }}">{{ link.name }}</a>
                                    {% else %}
                                <p>{{ link.name }}</p>
                                    {% endif %}
                                {% else %}
                                    {% assign link = site.projects | where: "label", c | first %}
                                    {% if link.label == 'education' %}
                                        {% if member.member == 'julien' %}
                                            <a href="https://www.coursera.org/learn/scala-capstone" target="_blank">
                                                Functional Programming in Scala Capstone
                                            </a>
                                            {% if link.status %}<span class="status completed">Completed</span>{% endif %}
                                        {% endif %}
                                    {% elsif link.github %}
                                        <a href="{{ link.github }}" target="_blank">{{ link.name }}</a> {% if link.status %}<span class="status {{ link.status | downcase }}">{{ link.status }}</span>{% endif %}
                                    {% elsif link.web %}
                                        <a href="{{ link.web }}" target="_blank">{{ link.name }}</a> {% if link.status %}<span class="status {{ link.status | downcase }}">{{ link.status }}</span>{% endif %}
                                    {% else %}
                                        <a >{{ link.name }}</a> {% if link.status %}<span class="status {{ link.status | downcase }}">{{ link.status }}</span>{% endif %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}{% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <h2>Former Team Members</h2>
    <div style="margin-top: 30px;">
        {% for member in members %}{% if member.active != true %}
        <div class="col-md-4">
            <div style="margin-bottom: 30px; min-height: 180px; padding: 30px; background-color: #fafafa; border-radius: 3px;">
                <div style="text-align: center">
                    <div style="display: inline-block; background-image: url({{ member.photo }}); border-radius: 50%; width: 128px; height: 128px;"></div>
                </div>
                <h3>{{ member.name }}</h3>
            </div>
        </div>
        {% endif %}{% endfor %}

    </div>
</div>
