<script src="https://js.stripe.com/v3/"></script>

<div class="select-wrapper">
  <select id="donate-amount" class="form-control donate-input">
    <option value="100">100CHF</option>
    <option value="250">250CHF</option>
    <option value="500">500CHF</option>
    <option value="1000">1000CHF</option>
    <option value="1500">1500CHF</option>
    <option value="other">Other amount</option>
  </select>
</div>
<div id="showthis" >
  <form id="donate">
    <input class="form-control donate-input" data-parsley-type="number" data-parsley-type="integer" min="5" data-parsley-min="5" data-parsley-trigger="keyup" minlength="1"	data-parsley-minlength="1" required="" placeholder="Other amount" id="other-amount">
  </form>
</div>

<button class="btn btn-default btn" id="donate-button">Donate</button>

<div class="chfusd">1 CHF &cong; $1 USD</div>

<script type="text/javascript">

  $(document).ready(function() {
      $("#charge-error").hide();
  });

  $("form :input").keyup(function() {
      $(this).closest('form').parsley().validate();
  });

  $('#showthis').hide();
  $('#donate-amount').change(function(){
      var show = $(this).val() == 'other';
      $('#showthis').toggle(show);
      $('#other-amount').focus();
      $('#donate-button').prop('disabled', show);
  });

  $('#donate').parsley().on('field:validate', function() {
    $('#donate-button').prop('disabled', true);
  });

  $('#donate').parsley().on('field:error', function() {
    $('#donate-button').prop('disabled', true);
  });

  $('#donate').parsley().on('field:success', function() {
    $('#donate-button').prop('disabled', false);
  });

  function getAmount() {
    var amt = ($('#donate-amount').val() == 'other') ? $('#other-amount').val() : $('#donate-amount').val();
    return amt * 100; // because amount is expected to be in rappen
  }

  // Based on https://stripe.com/docs/payments/accept-a-payment
  $(document).ready(function () {
    //var stripe = Stripe('pk_test_wG81vQhDff5ErZXKZ4Uiyjgm');
    var stripe = Stripe('pk_live_S9WePNCTK9N2YkRzuC6pICVt');

    $('#donate-button').on('click', function () {

      //fetch('http://localhost:9000', {
      fetch('https://scalacenter-donations.herokuapp.com/', {
        method: 'POST',
        body: JSON.stringify({ amount: getAmount() }),
        mode: 'cors',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        }
      })
      .then(function (response) {
        return response.json()
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id })
      })
      .then(function (result) {
        if (result.error) {
          $("#charge-error").show();
          $("#what-happened").text("<br />" + result.error.message + "<br />Please try again or contact scala.center@epfl.ch for help!");
        }
      })
      .catch(function (error) {
        console.error('Error:', error);
      })

    });

  });

</script>