<script src="https://checkout.stripe.com/checkout.js"></script>


<select id="donate-amount" class="form-control">
  <option value="100">100CHF</option>
  <option value="250">250CHF</option>
  <option value="500">500CHF</option>
  <option value="1000">1000CHF</option>
  <option value="1500">1500CHF</option>
  <option value="other">Other amount</option>
</select>
<div id="showthis" >
  <form id="donate">
    <input data-parsley-type="number" data-parsley-type="integer" min="5" data-parsley-min="5" data-parsley-trigger="keyup" minlength="1"	data-parsley-minlength="1" required="" placeholder="other amount" id="other-amount">
  </form>
</div>

<button class="btn btn-outline btn" id="donate-button">Donate</button>

<div class="chfusd">1 CHF &cong; $1 USD</div>

<script type="text/javascript">

  $(document).ready(function() {
      $("#charge-error").hide();
  });

  $("form :input").keyup(function() {
      $(this).closest('form').parsley().validate();
  });

  $('#showthis').hide();
  $('#donate-amount').change(function(){
      var show = $(this).val() == 'other';
      $('#showthis').toggle(show);
      $('#other-amount').focus();
      $('#donate-button').prop('disabled', show);
  });

  $('#donate').parsley().on('field:validate', function() {
    $('#donate-button').prop('disabled', true);
  });

  $('#donate').parsley().on('field:error', function() {
    $('#donate-button').prop('disabled', true);
  });

  $('#donate').parsley().on('field:success', function() {
    $('#donate-button').prop('disabled', false);
  });

  function getAmount() {
    var amt = ($('#donate-amount').val() == 'other') ? $('#other-amount').val() : $('#donate-amount').val();
    return amt * 100; // because amount is expected to be in rappen
  }

  var handler = StripeCheckout.configure({
    key: 'pk_live_S9WePNCTK9N2YkRzuC6pICVt',
    image: 'https://s3.amazonaws.com/stripe-uploads/acct_17mObqLDtHx5gUQ3merchant-icon-1457703549446-scala-center-swirl.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`

      var data = new Object();
      data.token = token.id;
      data.amount = getAmount().toString();
      var json = JSON.stringify(data);

      // $.ajax({
      //   type: "POST",
      //   url: "http://localhost:5000",
      //   data: token.id,
      //   dataType: 'text',
      //   success: function() { alert("Success"); },
      //   error: function() { alert('Failed!'); }
      // });

      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://scalacenter-donations.herokuapp.com/",
        "method": "POST",
        "contentType": "application/json",
        "headers": {
          "cache-control": "no-cache"
        },
        "data": json
      }

      $.ajax(settings)
        .done(function (response) {
          console.log(response);
          window.location.replace("{{ site.baseurl }}/thank-you.html");
        })
        .fail(function(XMLHttpRequest, textStatus, errorThrown) {
          $("#charge-error").show();
          $("#what-happened").text("<br />" + textStatus + "<br />" + errorThrown + "<br />Please try again or contact scala.center@epfl.ch for help!");
        });
    }
  });

  $('#donate-button').on('click', function(e) {
    var amnt = getAmount();

    // Open Checkout with further options
    handler.open({
      name: 'The Scala Center',
      description: "one-time donation",
      zipCode: true,
      billingAddress: true,
      currency: "chf",
      amount: amnt
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>