<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><a href="{{ site.baseurl }}/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/scala-center-swirl.png"></a></div>
      <div class="col-md-2">
        <ul>
          <li><h5>Organization</h5></li>
          <li><a href="http://www.scala-lang.org">Scala</a></li>
          <li><a href="{{ site.baseurl }}/2016/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h5>Find us <span class="entypo location"></span></h5></li>
          <li>
            <a href="https://www.google.ch/maps/place/INR,+Route+J-D.Colladon,+1015+Ecublens/@46.518363,6.562047,19z/data=!3m1!4b1!4m6!1m3!3m2!1s0x478c30fdddeca23f:0xbbcc34ab7f93b272!2sSwiss+Federal+Institute+of+Technology+Lausanne!3m1!1s0x478c30fce76c0113:0x26905d6a7e370bb2?hl=en">
              EPFL SI SCALA
              <br />INR 329 (Bâtiment INR)
              <br />Station 14
              <br />1015 Lausanne
              <br />Switzerland
            </a>
          </li>
        </ul>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="copyright">
          <b>Contact:</b>
          <br/><a href="mailto:scala.center@epfl.ch">scala.center@epfl.ch</a>
        </div>
        <div class="scala-logo-footer">
          <a href="https://twitter.com/scala_lang" style="border: none;"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png"></a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div> <!-- container -->
</footer>