<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-3">
        <a href="{{ site.baseurl }}/" class="footer-logo">
          <img src="{{ site.baseurl }}/resources/img/scala-center-swirl.png"><br>
          <div class="swirl-text">
            <h1><b>scala</b>center</h1>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <h5>Scala Center</h5>
        <ul>
          <!-- <li><a href="{{ site.baseurl }}/become-a-member.html">Become a Member</a></li> -->
          <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
          <li><a href="{{ site.baseurl }}/jobs.html">Jobs</a></li>
          <li><a href="{{ site.baseurl }}/records.html">Records</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Get in Touch!</a></li>
        </ul>

      </div>
      <div class="col-md-2">
        <h5>Scala</h5>
        <ul>
          <li><a href="http://www.scala-lang.org">Scala</a></li>
          <li><a href="http://scala-lang.org/contribute/">Get Involved</a></li>
          <li><a href="http://scala-lang.org/conduct.html">Code of Conduct</a></li>
          <li><a href="http://scala-lang.org/license.html">License</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Find us <span class="entypo location"></span></h5>
        <ul>
          <li>
            <a href="https://www.google.ch/maps/place/INR,+Route+J-D.Colladon,+1015+Ecublens/@46.518363,6.562047,19z/data=!3m1!4b1!4m6!1m3!3m2!1s0x478c30fdddeca23f:0xbbcc34ab7f93b272!2sSwiss+Federal+Institute+of+Technology+Lausanne!3m1!1s0x478c30fce76c0113:0x26905d6a7e370bb2?hl=en">
              EPFL SI SCALA
              <br />INR 329 (Bâtiment INR)
              <br />Station 14
              <br />1015 Lausanne
              <br />Switzerland
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://twitter.com/scala_lang"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/scala/scala"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>