<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <div class="header-logo">
          <img height="42" style="top: 6px; position: relative;" src="/resources/img/scala-center-logo-top@2x.png" alt="Scala Center">
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.path == 'projects.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li {% if page.path == 'team.html' %}class="active" {% endif %}><a href="{{ site.baseurl }}/team.html">Team</a></li>
        <li {% if page.path == 'faqs.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
        <li {% if page.path == 'records.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/records.html">Records</a></li>
        <li {% if page.path == 'contact.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        <li {% if page.path == 'corporate-membership.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/corporate-membership.html">Corporate Membership</a></li>
        <li {% if page.path == 'donate.md' %}class="active" {% endif %}><a href="{{ site.baseurl }}/donate.html">Donate</a></li>
        <li class="social first"><a href="https://github.com/scalacenter"><i class="fa fa-github"></i></a></li>
        <li class="social"><a href="https://twitter.com/scala_lang"><i class="fa fa-twitter"></i></a></li>
        <li class="social"><a href="https://www.linkedin.com/company/scala-center/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
