
{% assign projects_by_status = projects | sort: "priority" | reverse %}
{% for project in projects_by_status %}
<div class="col-md-6">
    <div class="project" id="{{ project.label }}">
        <div class="header" data-title="{{ project.name }}">
            {% if project.logo %}
            <img class="project-logo" src="{{ project.logo }}" alt="{{ project.name }}"/>
            {% else %}
            <h3>{{ project.name }}</h3>
            {% endif %}
            <div class="references">
                {% if project.web %}
                <a href="{{ project.web }}" target="_blank"><i class="fa fa-globe"></i></a>
                {% endif %}
                {% if project.github %}
                <a href="{{ project.github }}" target="_blank"><i class="fa fa-github"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content">
            {{ project.description }}
            {% if project.content.size > 1 %}
                <a href="#" class="read-more clearfix">
                    <i class="fa fa-plus"></i> Read more
                </a>
            {% endif %}
            {% if project.origin %}
                <a class="origin" href="{{ project.origin }}"><i class="fa fa-eye"></i> <span class="hidden-xs hidden-sm">Origin of the project</span></a>
            {% endif %}
        </div>
        <div class="hidden modal-content-text">
            {{ project }}
        </div>
        <div class="contributors">
            {% assign contributors = project.contributors | size %}
            {% if contributors > 0 %}
            <ul>
                {% for contributor in project.contributors %}
                {% assign contr = site.data.team-members.members | where: "member", contributor| first %}
                {% if contr.photo %}
                  <li title="{{ contr.name }}"><img src="{{ contr.photo }}" alt="{{ contr.name}}" ></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
