<script src="https://checkout.stripe.com/checkout.js"></script>

1CHF &cong; $1USD
<select id="donate-amount">
  <option value="100chf">100CHF</option>
  <option value="250chf">250CHF</option>
  <option value="500chf">500CHF</option>
  <option value="1000chf">1000CHF</option>
  <option value="1500chf">1500CHF</option>
  <option value="other">Other amount</option>
</select>
<div id="showthis" >You selected other!</div>

<button id="donate-button">Donate</button>

<script>
  $('#showthis').hide();
  $('#donate-amount').change(function(){
      var show = $(this).val() == 'other';
      $('#showthis').toggle(show);
  });

  var handler = StripeCheckout.configure({
    key: 'pk_test_wG81vQhDff5ErZXKZ4Uiyjgm',
    image: 'https://s3.amazonaws.com/stripe-uploads/acct_17mObqLDtHx5gUQ3merchant-icon-1457703549446-scala-center-swirl.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'The Scala Center',
      description: '2 widgets',
      zipCode: true,
      currency: "chf",
      amount: 2000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>