<script src="https://checkout.stripe.com/checkout.js"></script>

1CHF &cong; $1USD
<select id="donate-amount">
  <option value="100">100CHF</option>
  <option value="250">250CHF</option>
  <option value="500">500CHF</option>
  <option value="1000">1000CHF</option>
  <option value="1500">1500CHF</option>
  <option value="other">Other amount</option>
</select>
<div id="showthis" >
  <form>
    <input type="text" id="other-amount">
  </form>
</div>

<button id="donate-button">Donate</button>

<script type="text/javascript">
  $('#showthis').hide();
  $('#donate-amount').change(function(){
      var show = $(this).val() == 'other';
      $('#showthis').toggle(show);
  });

  var handler = StripeCheckout.configure({
    key: 'pk_test_wG81vQhDff5ErZXKZ4Uiyjgm',
    image: 'https://s3.amazonaws.com/stripe-uploads/acct_17mObqLDtHx5gUQ3merchant-icon-1457703549446-scala-center-swirl.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      // Access-Control-Allow-Origin: http://localhost:5000

      alert($(this).amount);

      var data = new Object();
      data.token = token.id;
      data.amount = $(this).amount;
      data.misc = "misc field";
      var json = JSON.stringify(data);

      // $.ajax({
      //   type: "POST",
      //   url: "http://localhost:5000",
      //   data: token.id,
      //   dataType: 'text',
      //   success: function() { alert("Success"); },
      //   error: function() { alert('Failed!'); }
      // });

      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "http://localhost:5000/",
        "method": "POST",
        "contentType": "application/json",
        "headers": {
          "cache-control": "no-cache",
          "postman-token": "ee691c14-c6f8-e7e5-0d1e-0514df063d30"
        },
        "data": json
      }

      $.ajax(settings).done(function (response) {
        console.log(response);
      });
    }
  });

  $('#donate-button').on('click', function(e) {
    var amnt = ($('#donate-amount').val() == 'other') ? $('#other-amount').val() : $('#donate-amount').val();

    // Open Checkout with further options
    handler.open({
      name: 'The Scala Center',
      description: '2 widgets',
      zipCode: true,
      currency: "chf",
      amount: amnt * 100 // because amount is expected to be in rappen
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>