@import "_bootstrap.scss";
@import "_bootstrap-compass.scss";
@import "_bootstrap-mincer.scss";
@import "_bootstrap-sprockets.scss";
@import "../../../bower_components/font-awesome/scss/font-awesome";

/**
 * Site footer
 */
footer {
    position: relative;
    margin-top: -360px; /* negative value of footer height */
    min-height: 360px;
    clear:both;
    padding: 70px 0 0 0;
    color: $home-text-color;
    background-color: #15414c;

    @media(max-width: 991px) {
        padding: 30px 0 30px 0;
        text-align: center;

        h5 {
            margin-top: 30px;
        }

        a i.fa {
            font-size: 26px;
            margin: 0 6px;
        }
    }

    a, a:hover {
        text-decoration: none;
        color: white;
        opacity: 0.3;
    }

    a:hover {
        opacity: 0.8;
    }

    a i.fa {
        font-size: 26px;
        margin-right: 12px;
    }

    .footer-logo {
        text-align: center;
        color: white;
        opacity: 1 !important;
        img {
            height: 80px;
            display: block;
            margin: auto;
        }
        h1 {
            margin: 0px;
            line-height: 24px;
            font-size: 24px;
        }
    }

    h5 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    ul {
        list-style: none;
        padding: 0px;
        font-size: 18px;
        li {
            line-height: 28px;
        }

    }
}

/**
 * Page content
 */
html, body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:360px; /* this needs to be bigger than footer height*/
}