.splash {
  background: url(resources/img/lakegeneva-gradientmapped.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
