---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Colors
$orange:           #f26527;
$red-orange:       #da4323;
$white:            #ffffff;
$blue-grey:        #668086;
$middle-blue:      #224951;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 200;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #002b37;
$link-color:      $orange;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//
$top-bar-height:   106px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
// @import
//         "base",
//         "syntax-highlighting"
// ;


a:link, a:visited {
  text-decoration: none;
  color: $orange;
  font-weight: 700;
  border-bottom: 2px solid rgba(34, 73, 81, 0.8);
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

a:hover {
  text-decoration: none;
  color: $red-orange;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.blue-stripe-top {
  position: relative;
  z-index: 100;
  background-color: #002b37;
  // margin-top: -40px;
  max-height: $top-bar-height;
}

.white-wrapper {
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.main {
  background-color: #fff;
}

.no-border {
  border-bottom: none;
}

.orange {
  color: $orange;
}

.w500 {
  font-weight: 500;
}

.splash {
  // @include center;
  text-align: center;
  min-height: 540px;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 42px;
}

.inner-splash {
  padding-top: 260px;
}

.circular {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  }

.circular.heather {
  background-image: url('{{ site.baseurl }}/resources/img/heather.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.heather {
    background-image: url('{{ site.baseurl }}/resources/img/heather@2x.png');
    background-size: 125px 125px;
  }
}

.circular.jon {
  background-image: url('{{ site.baseurl }}/resources/img/jon.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.jon {
    background-image: url('{{ site.baseurl }}/resources/img/jon@2x.png');
    background-size: 125px 125px;
  }
}

.circular.martin {
  background-image: url('{{ site.baseurl }}/resources/img/martin.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.martin {
    background-image: url('{{ site.baseurl }}/resources/img/martin@2x.png');
    background-size: 125px 125px;
  }
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('{{ site.baseurl }}/resources/glyphs/entypo.eot');
    src: url('{{ site.baseurl }}/resources/glyphs/entypo.eot?#iefix') format('embedded-opentype'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.woff') format('woff'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.ttf') format('truetype'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.entypo {
  font-family: 'EntypoRegular';
  font-size: 2em;
  font-weight: normal;
  line-height: 0;
}

.entypo.heart:before{ content:'\2665'; color: $orange; font-style: normal;}
.entypo.check:before{ content:'\2713'; color: $orange; font-style: normal;}
.entypo.dash:before{ content:'\2796'; color: $orange; font-style: normal;}
.entypo.location:before{ content:'\E724'; color: $orange; font-style: normal;}


.blurb {
  text-align: center;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 38px;
  line-height: 1.2em;
}

.heavy {
  font-weight: 800;
}

.focused-on {
  margin-top: 60px;
  text-align: center;
}

.focused-on-elem {
  text-align: left;
  font-size: 28px;
}

.num {
  font-family: "ff-market-web";
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #f26527;
}


@font-face {
    font-family: 'cubanoregular';
    src: url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.eot');
    src: url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.woff') format('woff'),
         url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.ttf') format('truetype'),
         url('{{ site.baseurl }}/resources/glyphs/cubano-regular-webfont.svg#cubanoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blanchcaps';
    src: url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.eot');
    src: url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.woff') format('woff'),
         url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.ttf') format('truetype'),
         url('{{ site.baseurl }}/resources/glyphs/blanch_caps-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}

.centered {
  text-align: center;
}

.vertical-spacer-bottom {
  padding-bottom: 60px;
}

.vertical-spacer-top {
  padding-top: 60px;
}

.dark-blue-stripe {
  position: relative;
  background-color: #002b37;
  min-height: 140px;
}

.light-blue-stripe {
  position: relative;
  background-color: rgba(34, 73, 81, 1);
  min-height: 140px;
}


.mission .title {
  display: inline-block;
  max-width: 290px;
  text-align: center;
  font-family: 'blanchcaps';
  font-size: 60px;
  letter-spacing: 0.16em;
  line-height: 1em;
  border-bottom: solid 3px #fff;
  border-top: solid 1px #fff;
  margin-bottom: 18px;
}

.mission ul {
  text-align: left;
  list-style-type: none;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
}

.mission ul > li {
  border-left: solid 3px #fff;
  margin: 20px 0;
  padding-left: 18px;
}

.open-source .title {
  display: inline-block;
  max-width: 300px;
  text-align: center;
  font-family: 'blanchcaps';
  font-size: 60px;
  letter-spacing: 0.16em;
  line-height: 1em;
  border-bottom: solid 3px #fff;
  border-top: solid 1px #fff;
  margin-bottom: 32px;
}

.education .title {
  display: inline-block;
  max-width: 240px;
  text-align: center;
  font-family: 'blanchcaps';
  font-size: 60px;
  letter-spacing: 0.16em;
  line-height: 1em;
  border-bottom: solid 3px #fff;
  border-top: solid 1px #fff;
  margin-bottom: 32px;
}

.moocs-coursera {
  font-family: "cubanoregular";
  font-size: 28px;
  color: $white;
}

.moocs-benefits,
.new-moocs,
.open-source-goals,
.course-list {
  max-width: 420px;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  margin: 0 auto;
  text-align: left;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.open-source-goals {
  color: lighten($blue-grey, 25%);
}

.moocs-benefits {
  color: lighten($blue-grey, 12%);
}

.moocs-benefits > li,
.new-moocs > li,
.course-list > li {
  margin: 8px 0;
  line-height: 1.2em;
}

.open-source-goals > li {
  margin: 10px 0;
  line-height: 1.2em;
}

.course-list > li {
  font-size: 26px;
  margin: 12px 0;
}

.course-list {
  max-width: 480px;
}

.new-moocs {
  max-width: 300px;
}

.coming-soon {
  font-family: "cubanoregular";
  font-size: 40px;
  color: $orange;
  margin-top: 46px;
}

.mini-degree {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  // text-align: left;
  line-height: 1.2em;
  margin-bottom: 44px;
}

.what-is-mini-degree {
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
}

.composed-of {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 24px;
  text-align: left;
}

.handwriting {
  font-family: "ff-market-web";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #f26527;
}

.grey-italic {
  color: lighten($blue-grey, 5%);
  // color: rgba(155, 155, 155, 0.7);
  // color: lighten($grey-color, 10%);
  font-style: italic;
}

.the-courses {
  font-family: "cubanoregular";
  font-size: 28px;
  color: $white;
  margin-top: 46px;
}

.taught-by {
  // font-family: 'blanchcaps';
  // font-size: 32px;
  font-size: 18px;
  font-weight: 500;
}

.instructor {
  // font-family: "cubanoregular";
  // font-family: "ff-enzo-web", sans-serif;
  // font-style: normal;
  // font-weight: 900;
  font-size: 20px;
}

.s30 {
  font-size: 30px;
}

.mc_embed_signup {
  font-family: "ronnia",sans-serif;
  font-style: italic;
  font-weight: 200;
}

.mc-field-group, .clear {
  display: inline-block;
  text-align: left;
}

.mc-field-group {
  font-family: "ronnia",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.mc-field-group > .txt-label {
  color: #073642;
}

.mc-field-group > ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0;
  /*height: 28px;*/
}

.mc-field-group > ul > li {
  font-family: "ronnia",sans-serif;
  font-style: italic;
  display: inline;
  margin-left: 12px;
}

.mc-field-group > ul > li > label {
  font-weight: 400;
  color: #073642;
}

.mc-field-group > ul > li:first-child {
  margin-left: 6px;
}
.txt-label {
  color: #fff;
  font-weight: 700;
}

#center-me {
  max-width: 520px;
  margin: 0 auto;
}

input {
  font-family: "ff-enzo-web",sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  border-radius: 3px;
  line-height: 22px;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  color: #002b37;
}

input:focus {
  box-shadow: 0;
  border: 3px solid $orange;
  color: #002b37;
  outline: none;
}

#mc-embedded-subscribe {
  background-color: $orange;
  color: #fff;
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  -webkit-transition: background-color .1s ease-in;
  -moz-transition: background-color .1s ease-in;
  -ms-transition: background-color .1s ease-in;
  -o-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
}

#mc-embedded-subscribe:hover {
  background-color: $red-orange;
  color: #fff;
  /*border: 3px solid #fff;*/
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

a.btn.btn-outline-inverse.btn-lg:link,
a.btn.btn-outline-inverse.btn-lg:visited {
  color: #ffffff;
}

a.btn.btn-outline-inverse.btn-lg:hover {
  color: #302e44;
}


a.btn-outline-inverse {
  border-bottom: solid 3px #fff;
  color: #fff;
  font-weight: 600;
}

.btn-outline-inverse {
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  -webkit-transition: background-color .1s ease-in;
  -moz-transition: background-color .1s ease-in;
  -ms-transition: background-color .1s ease-in;
  -o-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
}

.btn-outline-inverse:hover {
  background-color: #fff;
  color: #073642;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

a.btn-outline {
  border-bottom: solid 3px $orange;
  color: $white;
  font-weight: 600;
}

.btn-outline {
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $white;
  background-color: $orange;
  border-color: $orange;
  border-width: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  -webkit-transition: background-color .1s ease-in;
  -moz-transition: background-color .1s ease-in;
  -ms-transition: background-color .1s ease-in;
  -o-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
}

.btn-outline:hover {
  background-color: $red-orange;
  color: #fff;
  border-color: $red-orange;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.btn-outline:disabled {
  background-color: $blue-grey;
  color: #fff;
  border-color: $blue-grey;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.learn-more-btn {
  padding: 0 18px;
  background: #859900; /*brighter color: 97BE49*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none !important;
  font: 700 14px/28px 'ff-enzo-web', sans-serif;
  display: inline-block;
  color: #fff !important;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  border-bottom: none !important;
}

.learn-more-btn:hover {
  background:#DC322F;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  text-shadow:none;
  color:#FFF;
}

.brought-to-you {
  display: inline-block;
  max-width: 450px;
  text-align: center;
  font-family: 'blanchcaps';
  font-size: 60px;
  letter-spacing: 0.16em;
  line-height: 1em;
  border-bottom: solid 3px #fff;
  border-top: solid 1px #fff;
  margin-bottom: 32px;
}

.founding-members {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
}

.founding-blurb {
  text-align: justify;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: lighten($blue-grey, 12%);
}

.sign-up,
.join-effort {
  text-align: center;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 14px;
  letter-spacing: -1px;
  color: $white;
}

.why-sign-up {
  color: lighten($blue-grey, 15%);
  font-weight: 300;
  font-size: 22px;
  text-align: justify;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  margin-bottom: 30px;
}

.who-are-we {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 1em;
}

.who-are-we .title {
  display: inline-block;
  width: 310px;
  text-align: center;
  font-family: 'blanchcaps';
  font-size: 60px;
  letter-spacing: 0.16em;
  line-height: 1em;
  border-bottom: solid 3px #fff;
  border-top: solid 1px #fff;
  margin-bottom: 32px;
}

.us > .name {
  font-weight: 400;
}

.us > .about {
  font-size: 22px;
  line-height: 1em;
  color: lighten($blue-grey, 10%);
  font-weight: 500;
}


.footer {
  box-shadow: 0px 500px 0px 500px #002b37;
  background: #002b37;
  font-family: "ff-enzo-web",sans-serif;
  position: relative;
  z-index: 10;
  color: #fff;
  padding-top: 50px;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
  /*font-family: "museo-slab", serif;*/
  position: relative;
  float: left;
}

.footer > p {
  vertical-align: bottom;
}

.footer ul {
  -moz-box-sizing: content-box;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 20px 0;
  width: 188px;
}

.footer a:hover {
  color: #orange;
  text-decoration: none;
}

.footer li {
  /*font-family: "museo-slab", serif;*/
  text-align: left;
}

.footer ul:last-child {
    padding-right: 0;
}

.footer ul li a,
.footer ul li {
    /*color: rgba(255, 255, 255, 0.7);*/
    /*color: #839496;*/
    font-weight: 600;
    /*font-style: italic;*/
    color: #95A5A6;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.footer ul li a:hover {
    text-decoration: none;
    color: $orange;
}

.footer ul li h5 {
    font-family: "cubanoregular", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}
.footer ul li h5 a {
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    border: none;
}

.scala-logo-footer {
  position: relative;
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

.page-container {
  // position: relative;
  // background: #F2F5F8;
  // background: lighten($middle-blue, 70%);
  display: -ms-grid;
  -ms-grid-columns: 50% auto;
}

.clearall {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.main-content {
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 60px;
  color: #002b37;
  // font-weight: 400;
  line-height: 1.4em;
  font-size: 18px;
  background: $white;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  height: 100%;
  min-height: 540px;
}

.sidebar {
  color: $middle-blue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 28px;
  background: #e4f1f4;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  height: 100%;
}

// .sidebar {
//   // width: 300px;
//   display: table-cell;
//   min-height: 540px;
//   height: 100%;
//   display: inline;
//   float: left;
//   position: relative;
//   margin-left: 0px !important;
//   background: lighten($middle-blue, 70%);
//   // background: #F2F5F8;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   // padding: 24px 9999em 72px 20px;
//   padding-bottom: 50px;
//   position: relative;
//   // margin-right: -9999em;
//   top: auto;
//   bottom: auto;
//   /*padding-bottom:100%;*/
//   /*margin-bottom:-100%;*/
// }



// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     .sidebar {
//         margin-left: 0px !important;
//     }
//     html.safari .sidebar,
//     html.chrome25 .sidebar {
//         margin-left: 640px !important;
//     }
//
//     .section .search .sidebar,
//     .section-users .sidebar {
//         margin-left: 0 !important;
//     }
// }

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.scalacenter-logo {
  padding-top: 16px;
  height: $top-bar-height;
  padding-right: 20px;
}

.tagline {
  margin-left: 18px;
  padding-top: 34px;
  text-align: justify;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: lighten($blue-grey, 12%);
}

.nav {
  z-index: 40;
  position: relative;
  float: right;
  list-style-type:none;
  margin-top: 54px;
  padding:0;
}

.nav > li > a {
  display: block;
}

.nav > li > a:link,
.nav > li > a:visited {
  position: relative;
  display:inline-block;
}

ul.nav > li > a {
  text-shadow: none;
}

ul.nav > li#source-code > .toptip,
ul.nav > li#scala-lang-twitter > .toptip {
  background: rgba(0, 0, 0, 0.3);
}

ul.nav > li#source-code > .toptip:after,
ul.nav > li#scala-lang-twitter > .toptip:after {
  border-top: 6px solid rgba(0, 0, 0, 0.3);
}

.navbar-default {
  background-color: #002b37;
  border: none;
}

.main-content > p:nth-of-type(1) {
  margin-top: 14px;
  margin-bottom: 20px;
}

.main-content a:link {
  font-weight: normal;
  border-bottom: 2px solid rgba(34, 73, 81, 0.1);
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.main-content > p {
  margin-bottom: 20px;
}

.main-content > ul,
.main-content > ol {
  margin-bottom: 20px;
}

.main-content > p + ul,
.main-content > p + ol { margin-top: -14px; }

.main-content > ul > li > p { margin-bottom: 0px; }

.main-content > ul ul > li { margin-top: 10px; }

.main-content > h2 {
  font-family: "ff-enzo-web", sans-serif;
  color: #002b37;
  font-weight: 600;
  line-height: 1.1em;
  margin-top: 40px;
}

.main-content > h3 {
  font-family: "ff-enzo-web", sans-serif;
  font-weight: 400;
  color: $red-orange;
  line-height: 1.1em;
  margin-top: 40px;
}

.main-content > h4 {
  font-size: 19px;
  color: #073642;
  font-family: 'ff-enzo-web', sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.main-content > h5 {
  font-size: 16px;
  font-family: 'ff-enzo-web', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.main-content > h6 {
  font-size: 16px;
  color: #073642;
  margin-bottom: 0px;
}

.main-content > ol,
.main-content > ul {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    line-height: 1.5em;
    margin-top: 1em;
}


// .main-content > ol > li,
.main-content > ul > li {
    position: relative;
    margin: 0 0 0 2em;
    padding: 4px 8px;
    list-style: none;
}

.main-content > ol > li {
    position: relative;
    margin: 0 0 0 2em;
    padding: 4px 8px;
}

// .main-content > ol > li:before {
//   content: counter(li);
//   counter-increment: li;
//   position: absolute;
//   top: -2px;
//   left: -2em;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   margin-right: 12px;
//   margin-top: 3px;
//   padding: 4px 4px 4px 4px;
//   color: #fff;
//   background: #859900;
//   border-radius: 60px;
//   width: 30px;
//   height: 30px;
//   font-weight: bold;
//   font-family: "Helvetica Neue", Arial, sans-serif;
//   text-align: center;
// }

.main-content > ul > li {
  list-style: disc;
  line-height: 1.3em;
  font-size: 17px;
}

/*.main-content a:link,
.main-content a:visited {
  color: #27B3D9;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  border-bottom: 2px solid #F2F5F8;
}*/

/*.main-content a:hover {
  color: #DC322F;
  text-decoration: none;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}*/

code {
  /*background-color: #f6f6f6;*/
  background-color: #F2F5F8;
  color: #7e9cab;
  display: inline;
  font-size: 0.9em;
  margin: 0 3px 0 3px;
  padding: 0 2px 0 2px;
  border: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.sect-header {
  text-align: center;
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  margin-top: 20px;
  padding-bottom: 24px;
  letter-spacing: -1px;
  color: $white;
}

.improve {
  font-family: "ff-enzo-web", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

// #donate-amount {
//   font-family: "ff-enzo-web",sans-serif;
//   font-style: italic;
//   font-weight: 600;
//   font-size: 20px;
//   border-radius: 3px;
//   line-height: 22px;
//   padding: 6px;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -ms-box-sizing: border-box;
//   box-sizing: border-box;
//   border: 3px solid rgba(0,0,0,0);
//   color: #002b37;
//   background-color: #e4f1f4;
// }
//
// #donate-amount:focus {
//   box-shadow: 0;
//   border: 3px solid $orange;
//   color: #002b37;
//   outline: none;
// }

input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

#donate-amount {
  width: 240px;
  font-family: "ff-enzo-web",sans-serif;
  font-size: 20px;
  border-radius: 3px;
  line-height: 22px;
  padding: 6px;
  color: #002b37;
  font-style: italic;
  font-weight: 400;
}

#other-amount {
  width: 240px;
}

.form-control:focus {
    border-color: $red-orange;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6);
}

#showthis {
  height: 62px;
}

.parsley-errors-list,
.parsley-errors-list > li {
  font-family: "ff-enzo-web",sans-serif;
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  color: #B94A48;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.chfusd {
  font-family: "ff-enzo-web",sans-serif;
  color: $blue-grey;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.frontpage-nav {
  z-index: 100;
  position: relative;
  float: right;
}

.frontpage-nav > ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    // margin-top: 6px;
    padding: 0;
    overflow: hidden;
    font-family: "ff-enzo-web",sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.frontpage-nav > ul > li {
    display: inline;
    float: left;
}

.frontpage-nav > ul > li > a {
    display: block;
    padding: 8px;
    padding-top: 23px;
    padding-right: 24px;
    color: lighten($blue-grey, 10%);
    // color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.frontpage-nav > ul > li > a:hover {
  text-decoration: none;
  color: $red-orange;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.social {
  margin-top: 32px;
  float: right;
}