---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Colors
$orange:           #f26527;
$red-orange:       #da4323;
$white:            #ffffff;
$blue-grey:        #668086;
$middle-blue:      #224951;
$background-menu:  #002b36;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 200;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$home-text-color:  #fff;
$background-color: $background-menu;
$link-color:      $orange;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$top-bar-height:   106px;

// FontAwesome path
$fa-font-path: "./../../bower_components/font-awesome/fonts";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

/* HEADER */
.header-logo {
  .swirl {
    display: inline-block;
    img {
      height: 50px;
      margin: auto;
      display: block;
      margin-right: 12px;
    }
  }

  .swirl-text {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    h1 {
      font-size: 36px;
      line-height: 42px;
      margin-top: 3px;
      margin-bottom: 0px;
      font-weight: normal;
      display: inline-block;
    }
  }
}

/* HOME */
body.home {
  .splash {
    height: 815px;
    background-color: #15414c;
    position: relative;
    font-family: Lato;
    color: $home-text-color;

    .gradient {
      background: -moz-linear-gradient(top, rgba(0,43,54,0) 0%, rgba(0,43,54,0) 1%, rgba(0,43,54,1) 100%) !important;
      background: -webkit-linear-gradient(top, rgba(0,43,54,0) 0%,rgba(0,43,54,0) 1%,rgba(0,43,54,1) 100%) !important;
      background: linear-gradient(to bottom, rgba(0,43,54,0) 0%,rgba(0,43,54,0) 1%,rgba(0,43,54,1) 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00002b36', endColorstr='#002b36',GradientType=0 ) !important;
      position: absolute;
      bottom: 0;
      min-height: 154px;
      width: 100%;
    }

    .swirl {
      display: inline-block;
      img {
        width: 75px;
        margin: auto;
        display: block;
        margin-right: 25px;
        margin-bottom: -10px;
      }
    }

    .swirl-text {
      display: inline-block;
      font-size: 29px;
      line-height: 0;
      font-weight: lighter;
      h1 {
        font-size: 77px;
        font-weight: lighter;
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    .objectives {
      height: 68px;
      font-size: 24px;
      line-height: 1.42;
      margin-bottom: 40px;
      font-weight: lighter;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    &:before, &:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      margin-left: 5%;
      height: 3px;
      content: '\a0';
      background-color: rgba(255, 255, 255, 0.12);
    }
    &:before {
      margin-left: -55%;
      text-align: right;
    }
    .color {
      background-color: #ccc;
    }
  }



  .dark-blue-stripe {
    position: relative;
    background-color: #002b37;
    min-height: 140px;
    font-size: 24px;
    padding-bottom: 90px;
    color: $home-text-color;
    font-weight: lighter;
  }

  .light-blue-stripe {
    position: relative;
    background-color: rgba(34, 73, 81, 1);
    min-height: 140px;
    font-size: 24px;
    color: $home-text-color;
    padding-bottom: 90px;
    font-weight: lighter;
  }

  .light-grey-stripe {
    background-color: #e9ecec;
    position: relative;
    min-height: 140px;
    font-size: 24px;
    padding-bottom: 70px;
    color: #15414c;

    h2 {
      color: #15414c;
      &:before, &:after {
        background-color: #cad3d4;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.42;
      color: #15414c;
    }

    .the-courses {
      font-weight: bold;
      line-height: 1.42;
      margin-bottom: 40px;
    }

    ul.course-list {
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        border-radius: 3px;
        padding: 24px;
        margin: 0 0 40px 0;

        .title {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.42;
          color: #15414c;
          margin-bottom: 10px;
        }

        .description {
          font-size: 20px;
          color: #f1592a;

          em {
            font-style: italic;
          }
        }
      }
    }
  }

  ul.red {
    font-size: 24px;
    list-style: none;
    li {
      padding-bottom: 30px;
      &:before {
        background-color: #f1592a;
        min-width: 14px;
        min-height: 14px;
        margin-left: -30px;
        content: " ";
        border-radius: 50%;
        display: inline-block;
        margin-right: 16px;
      }
    }
  }

  .supporters {
    .col-sm-4, .subtitle {
      height: 115px;
      line-height: 115px;
      vertical-align: middle;
      a {
        display: block;
        height: 115px;
        img {
          margin: auto;
          line-height: 115px;
        }
      }
    }
    .subtitle {
      height: 100px;
      font-size: 26px;
    }
  }

  .back-level {
    text-align: center;
    a {
      color: #fff;
      text-decoration: underline;
      font-weight: lighter;
    }
  }

  .founding-blurb {
    font-size: 24px;
    line-height: 1.5;
    color: #4f6b72;
    font-weight: normal;
    margin-top: 50px;
    text-align: left;

    p {
      margin-bottom: 25px;
    }
  }


  .subtitle {
    font-size: 26px;
    color: #fff;
    text-align: center;
  }

  .circular {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    width: 125px;
    height: 125px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
  }

  .circular.heather {
    background-image: url('{{ site.baseurl }}/resources/img/heather.png');
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .circular.heather {
      background-image: url('{{ site.baseurl }}/resources/img/heather@2x.png');
      background-size: 98px 98px;
    }
  }

  .circular.jon {
    background-image: url('{{ site.baseurl }}/resources/img/jon.png');
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .circular.jon {
      background-image: url('{{ site.baseurl }}/resources/img/jon@2x.png');
      background-size: 98px 98px;
    }
  }

  .circular.martin {
    background-image: url('{{ site.baseurl }}/resources/img/martin.png');
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .circular.martin {
      background-image: url('{{ site.baseurl }}/resources/img/martin@2x.png');
      background-size: 98px 98px;
    }
  }



  .us > .name {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .us > .about {
    font-size: 20px;
    line-height: 1em;
    color: lighten($blue-grey, 10%);
    font-weight: 500;
  }

  .join-us {
    color: rgba(255, 255, 255, 0.35);
    font-weight: lighter;
    margin: 15px 0 35px 0;
  }
}

/* PROJECTS */
div.search {
  margin-bottom: 24px;

  &:before {
    font-family: FontAwesome;
    content: "\f002";
    position: relative;
    font-size: 18px;
    top: 36px;
    left: 18px;
    z-index: 100;
    opacity: 0.6;
    color: #15414c;
  }

  &:after {
    clear: both;
  }

  input {
    border: none !important;
    display: block;
    position: relative;
    font-size: 18px;
    text-indent: 24px;

    &::placeholder {
      opacity: 0.6;
      color: #15414c;
    }
  }
}

.projects {
  margin-top: 30px;
  .project {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 40px 30px 0px 30px;
    margin-bottom: 30px;

    h2 {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px;
      display: inline-block;
      float: left;
    }

    .references {
      float: right;
      display: inline-block;
      a {
        display: inline-block;
        color: #15414c;
        font-size: 22px;
        line-height: 30px;
        margin-left: 8px;
      }
    }

    p {
      font-size: 20px;
      color: #888888;
      margin-bottom: 30px;
    }

    .contributors {
      margin: 0px -30px;
      padding: 14px 30px;
      border-top: 1px solid #15414c;
      font-size: 18px;
      line-height: 30px;
      height: 58px;
      overflow: hidden;

      a {
        color: #15414c;
      }

      a.contributors-modal {
        display: inline-block;
        float: left;
        height: 30px;
        line-height: 30px;
      }

      ul {
        list-style: none;
        display: inline-block;
        margin-bottom: 0px;
        height: 30px;
        padding: 0px 0px 0px 20px;
        li {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 15px;
          margin-right: 16px;
          overflow: hidden;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .origin {
      float: right;
    }
  }
}

.join-us {
  color: rgba(255, 255, 255, 0.35);
  font-weight: lighter;
  margin: 15px 0 35px 0;
}


/* TEAM */
.team {
  .team-member {
    margin-bottom: 30px;
    padding: 40px;
    background-color: #fafafa;
    border-radius: 3px;
    text-align: left;
    position: relative;

    h2 {
      text-align: left;
      font-size: 30px;
      font-weight: bold;
      color: #15414c;
      margin-top: 0;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 20px;
      color: #f1592a;
    }

    a {
      font-size: 18px;
      color: #15414c;
      text-decoration: underline;
    }

    ul.contact-for {
      list-style: none;
      padding: 0;
      margin-top: 40px;

      li {
        margin-bottom: 10px;
      }

      .status {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        padding: 3px 6px;
        border-radius: 2px;
        background-color: #5c6367;
        margin-left: 10px;
      }
    }

    .circular {
      width: 129px;
      height: 129px;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }
}

.contributors-dialog {
  .team-member {
    margin: 0;
    border-top: solid 1px #e5e5e5;
  }

  .modal-header, .modal-body {
    background-color: #fafafa;
    padding: 0;
  }

  .modal-header {
    padding: 30px;
  }

  h4.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #15414c;
  }

  button.close {
    font-size: 28px;
    color: #9b9b9b;
    margin-top: 4px;
  }
}

/* GENERIC BLOCKS */
.block {
  background-color: #fafafa;
  border-radius: 3px;
  padding: 40px 30px 30px 30px;
  margin-bottom: 30px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    color: #15414c;
    margin: 10px 0 30px 0;
  }

  h3 {
    font-size: 26px;
    font-weight: bold;
    color: #15414c;
    margin: 40px 0 15px 0;
  }

  p {
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.5;
    color: #888888;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }


  ul {
    font-size: 20px;
    color: #888888;
    font-weight: lighter;
    list-style: none;
    li {
      padding-bottom: 20px;
      position: relative;
      &:before {
        background-color: #f1592a;
        min-width: 8px;
        min-height: 8px;
        margin-left: -30px;
        content: " ";
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        position: absolute;
        top: 12px;
        left: 5px;
      }

    }
  }
}

/* DONATE SCREEN */
.chfusd {
  font-size: 13px;
  color: #888888;
  margin-bottom: 20px;
}

.donate-input {
  font-size: 18px;
  padding-left: 14px;
  color: #15414c;
  margin-bottom: 20px;
  max-width: 230px;
}