---
layout: page
---

<div class="block">
    <h2>Get in Touch</h2>

    <p>
        If you'd like to join in on the discussion about Scala Center activities, then
        head over to the <a href="http://gitter.im/scala/center">Scala Center gitter channel</a>.
    </p>

    <p>
        If you'd like to report a bug, make a feature request, report a documentation
        issue in any of Scala's libraries or tools, please head over to the
        <a href="http://scala-lang.org/contribute/bug-reporting-guide.html">Bug Reporting</a> to see how.
    </p>

    <p>
        For questions on how to use Scala, or for general debates about the language,
        please head over to our <a href="http://scala-lang.org/community/">mailing lists</a>.
    </p>

    <p>
        If you'd like to report a problem with this website, use the
        <a href="https://github.com/scala/scala.epfl.ch">Github repo</a>.
    </p>

    <p>
        For any other questions regarding the Scala Center, membership info, or
        information about donation, please write to <a href="mailto:scala.center@epfl.ch">scala.center@epfl.ch</a>.
    </p>
</div>