<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div class="blue-stripe">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand scalacenter-logo" style="float: left;"><a href="{{ site.baseurl }}/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/scala-center-logo-top.png"></a></div>
          <div class="tagline hidden-xs" style="float: left;">For open source. For education.</div>
        </div>
      </div>
    </nav>
  </div>

    <div class="page-container">
      <div class="container" style="margin-top: -48px; min-height: 540px;">
        <div class="row">
          <div class="col-md-8 main-content">
                  {{ content }}
          </div>
          <div class="col-md-4 sidebar">
                  {{ content }}
          </div>
        </div>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
