<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">
  <div id="wrap">
    <div id="main">
      <div class="splash">
      <div class=" navbar navbar-default" style="background-color: transparent;">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="frontpage-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
                <li><a href="{{ site.baseurl }}/hall-of-fame.html">Hall of Fame</a></li>
                <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
                <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
                <li><a href="{{ site.baseurl }}/records.html">Records</a></li>
                <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                <li><a href="{{ site.baseurl }}/corporate-membership.html">Corporate Membership</a></li>
                <li><a href="{{ site.baseurl }}/donate.html">Donate</a></li>
                <li class="social first"><a href="https://github.com/scalacenter"><i class="fa fa-github"></i></a></li>
                <li class="social"><a href="https://twitter.com/scala_lang"><i class="fa fa-twitter"></i></a></li>
                <li class="social"><a href="https://www.linkedin.com/company/scala-center/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="container inner-splash main-logo-wrap">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <img src="/resources/img/scala-center-main-logo@2x.png" width="100%" alt="ScalaCenter. For Open Source. For Education" >
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 60px;">
        <div class="vertical-spacer-top"></div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="objectives">
              An independent not-for-profit center established at EPFL.<br/>
              <b>Focused on</b>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center home-popovers">
            <a class="btn btn-default btn" data-toggle="popover" data-placement="bottom" data-container="body" href="#open-source">Open Source</a>
            <a class="btn btn-default btn" data-toggle="popover" data-placement="bottom" data-container="body" href="#education">Education</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="objectives short">
              <b>Activities</b>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center home-popovers">
            <a class="btn btn-default btn" href="https://www.scala-lang.org/blog/2024/02/06/scala-center-2024-roadmap.html">2024 Roadmap</a>
            <a class="btn btn-default btn" href="/records/first-five-years/">5 year impact report</a>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom gradient"></div>
    </div>

    <div class="open-source hidden" id="open-source">
      <div class="close-popover">
        <i class="fa fa-close"></i>
      </div>
      <div class="col-md-12">
        <!-- <div class="sect-header">Open Source</div> -->
        <p>Let's improve Scala together. The Scala Center seeks to:</p>
        <ul class="red">
          <li>Coordinate and direct the open source development of libraries/tools of broad benefit to the community.</li>
          <li>Substantially grow our community of open source contributors.</li>
          <li>Improve the landscape of Scala's libraries.</li>
          <li>Provide scaffolding to help the community develop, publish, find, and evaluate Scala libraries.</li>
        </ul>
      </div>
      <div class="col-md-12">
        <p>
          We'll start by consulting with the user community, defining common
          goals, and organizing contributions and its own resources to achieve
          these goals.
        </p>
        <div class="text-left" style="margin-top: 30px;"><a class="btn btn-default btn" href="{{ site.baseurl }}/contact.html">Join the Discussion</a></div>
      </div>
    </div>

    <div class="education hidden" id="education">
      <div class="close-popover">
        <i class="fa fa-close"></i>
      </div>
      <div class="col-md-12">

        The Scala Center is committed to creating quality and freely-available
        educational resources for leaning Scala and functional programming. For
        now, we have produced a handful of courses that combine to form a
        "mini-degree" on Coursera, as well as an interactive tutorial series
        based on our functional programming course on Coursera.
        <br/><br/>
        <div class="the-courses">The courses:</div>
        {% assign courses = site.data.education.courses %}
        <ul class="course-list">
          {% for course in courses %}
            <li>
              <a class="title" href="{{ course.url }}" target="_blank">{{ course.title }}</a>
              <div class="description">Taught by: {{ course.taught_by }}</div>
            </li>
          {% endfor %}
          + an <a href="https://www.scala-exercises.org/scala_tutorial/terms_and_types">interactive introduction to Scala and FP</a> on scala-exercises.org.
        </ul>
      </div>
    </div>

    <div class="dark-blue-stripe">
      <div class="container">
        <div class="col-md-12 text-center">
          <h2>Scala Center's Mission</h2>
        </div>
        <div class="clearfix"></div>
        <div class="text-left">
          <div >
            <ul class="red">
              <li>Guide and support the Scala community</li>
              <li>Coordinate and develop open source libraries and tools for the benefit of all Scala users</li>
              <li>Provide deep, and quality, educational materials for Scala</li>
            </ul>
            <div class="text-center">
              <a class="btn btn-default btn" href="http://scala-lang.org/blog/2016/03/14/announcing-the-scala-center.html">See the blog article</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-blue-stripe">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Projects that we've worked on</h2>
          </div>
          <div class="col-md-10 text-center col-md-offset-1">
            <div class="row" id="projects-logo">
              <div class="col-md-3 col-xs-6"><a href="https://www.scala-lang.org/" target="_blank"><img width="100%" src="/resources/img/scala@2x.png" alt="Scala"></a></div>
              <div class="col-md-3 col-xs-6"><a href="http://www.scala-sbt.org/" target="_blank"><img width="100%" src="/resources/img/sbt@2x.png" alt="SBT"></a></div>
              <div class="col-md-3 col-xs-6"><a href="http://scala-lang.org/community/" target="_blank"><img width="100%" src="/resources/img/Community@2x.png" alt="Community"></a></div>
              <div class="col-md-3 col-xs-6"><a href="http://scastie.scala-lang.org/" target="_blank"><img width="100%" src="/resources/img/scastie@2x.png" alt="Scastie"></a></div>
              <div class="col-md-3 col-xs-6"><a href="https://index.scala-lang.org/" target="_blank"><img width="100%" src="/resources/img/scaladex-brand@2x.png" alt="Scaladex"></a></div>
              <div class="col-md-3 col-xs-6"><a href="https://www.coursera.org" target="_blank"><img width="100%" src="/resources/img/coursera@2x.png" alt="Coursera"></a></div>
              <div class="col-md-3 col-xs-6"><a href="https://scalameta.org/metals/" target="_blank"><img width="100%" src="/resources/img/metals@2x.png" alt="Metals"></a></div>
              <div class="col-md-3 col-xs-6"><a href="https://scalacenter.github.io/scalafix/" target="_blank"><img width="100%" src="/resources/img/scalafix@2x.png" alt="Scalafix"></a></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center" style="margin-top: 45px; clear: both;">
          <a href="/records.html" class="btn btn-default">See all our project reports</a>
        </div>
      </div>
    </div>

    <div class="dark-blue-stripe">
        <div class="vertical-spacer-top" id="our-projects"></div>
        <div class="open-source">
            <div class="container">
                <h2>Current priorities</h2>
                <div class="clearfix"></div>
                <div class="text-left">
                  <div>
                    <ul class="red">
                      <li>
                        <strong>Communicate excitement about Scala</strong>. We want more people (programmers, teachers,
                        scientists) to know about Scala’s strengths.
                      </li>
                      <li>
                        <strong>Newcomers onboarding experience</strong>. We want newcomers to quickly get started in
                        Scala, with no hassles.
                      </li>
                      <li>
                        <strong>Robust and seamless tooling</strong>. We want the infrastructure that supports the Scala
                        ecosystem to be reliable while being "invisible" to the end-users.
                      </li>
                      <li>
                        <strong>Sustainability and governance</strong>. We want to make sure that the Scala
                        infrastructure has no technical debt, and is easy to maintain. We want to help every actor of
                        the community to contribute to Scala.
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="text-center" style="margin-top: 45px; clear: both;">
                  <a href="/projects.html" class="btn btn-default">See our full roadmap</a>
                </div>
            </div>

        </div>
        <div class="vertical-spacer-bottom"></div>
    </div>

    <div class="light-grey-stripe" style="padding-bottom: 70px;">
      <div class="vertical-spacer-top"></div>
      <div class="who-are-we">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <!-- <div class="sect-header">Who are we?</div> -->
              <h2>Who are we?</h2>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 text-center">
            {% assign members = site.data.team-members.members %}
            {% for member in members %}{% if member.active %}
              <div class="us text-center">
                <div class="circular" style="background-image: url({{ member.photo }});"></div>
                <div class="us-data">
                  <div class="name">{{ member.name }}</div>
                  <div class="about">{{ member.title }}</div>
                </div>
              </div>
            {% endif %}{% endfor %}
          </div>
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2">
              <div class="text-center" style="margin-top: 40px;">
                <a class="btn btn-default btn" href="{{ site.baseurl }}/team.html">Get to know our team</a>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

    <!-- <span class="entypo heart"> -->
    <div class="dark-blue-stripe">
      <div class="vertical-spacer-top"></div>
      <div class="supporters">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center" id="brought-to-you-by">
              <!-- <div class="sect-header">Brought to you by</div> -->
              <h2>Brought to you by</h2>
            </div>
            <div class="col-md-10 col-md-offset-1 text-center">
              <div class="col-sm-12 first-supporter-logo" style="margin-bottom: 18px;">
               <a href="http://epfl.ch" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/epfl.png" /></a>
              </div>
              <br/><br/>
              <div class="subtitle col-sm-12" id="advisory-board-member-list">Advisory Board members:</div>
              <div class="col-sm-3 supporter-logo">
                <a href="http://www.lightbend.com/" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/lightbend.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-3 supporter-logo">
                <a href="http://www.47deg.com/" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/47deg.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-3 supporter-logo">
                <a href="https://www.spotify.com/" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/spotify.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-3 supporter-logo">
                <a href="https://lunatech.com/" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/lunatech.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-3 supporter-logo">
                <a href="https://virtuslab.com/" style="border: none;" target="_blank"><img src="{{ site.baseurl }}/resources/img/virtuslab.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </div>
            <div class="col-md-12 text-center">
              <!--<span class="subtitle col-sm-12">Community representatives:</span>
              <div class="text-center back-level clearfix">
                <a href="" class="col-md-6 col-xs-12" target="_blank">new rep</a>
                <a href="" class="col-md-6 col-xs-12" target="_blank">new rep</a>
              </div>
              <p>For information on the community representatives, see <a href="https://www.scala-lang.org/blog/2019/03/18/announcing-new-community-representative.html">this blog post</a>.-->
              <input type="checkbox" id="toggle-list" style="display: none;">
              <label for="toggle-list" class="subtitle col-sm-12">Former contributions</label>
              <div class="text-center back-level clearfix">
                <ul id="contributions-list" style="list-style-type: none; margin: 0; padding: 0;">
                  <li class="transparent-text">Goldman Sachs</li>
                  <li class="transparent-text">Twitter</li>
                  <li class="transparent-text">Databricks</li>
                  <li class="transparent-text">Swissborg</li>
                  <li class="transparent-text">Knoldus</li>
                  <li class="transparent-text">Ionut Neagu</li>
                  <li class="transparent-text">Andy Hicks</li>
                  <li class="transparent-text">Trond Bjerkstand</li>
                  <li class="transparent-text">Heiko Seeberger</li>
                </ul>
              </div>
              <style>
                #toggle-list:checked ~ .text-center.back-level.clearfix #contributions-list {
                  display: block;
                }
                .text-center.back-level.clearfix #contributions-list {
                  display: none;
                }
                .transparent-text {
                  opacity: 0.3;
                }
              </style>
            <div class="col-md-12 founding-blurb">
                <p>
                  The Scala Center is backed by <a href="http://epfl.ch" target="_blank">EPFL</a>, a world-class research
                  university in Lausanne, Switzerland, several industries that depend
                  on Scala every day, and countless individual members of the Scala
                  community.
                </p>
                <p>
                  All of our members, individual and corporate, are actively involved
                  in the Scala ecosystem. We are a coalition of individuals and
                  organizations working together to contribute to Scala.
                </p>
                <div class="subtitle" style="font-weight: 900;">Interested in joining the effort?</div>
                <p>
                The best way to help is to get involved in the Scala ecosystem!
                </p>
                <p>
                  We also accept sponsorships/donations to be able to fund important project work that would otherwise not be possible.
                </p>
                <div class="text-center">
                  <a class="btn btn-default btn" href="{{ site.baseurl }}/corporate-membership.html">Corporate Membership</a>
                  <a class="btn btn-default btn" href="{{ site.baseurl }}/donate.html">Individual Donation</a>
                  <a class="btn btn-default btn" href="{{ site.baseurl }}/faqs.html">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

  </div>
  </div>

    {% include footer.html %}


    <script type="text/javascript">
      $(document).ready(function(){
        // background image on frontpage
        $(".splash").backstretch("{{ site.baseurl }}/resources/img/home-bg.png");
        $(document).on('click', '.close-popover', function (e) {
            e.preventDefault();
            $(this).closest('.popover').popover('hide');
            $('#popover-spacer').animate({'height': 0});
            $('#popover-spacer-2').animate({'height': 0});
        });
        $('.home-popovers a').each(function () {
            var button = $(this);
            button.data('html', true);
            button.data('content', $($(this).attr('href')).html());
        });
        $(document).on('click', '.home-popovers a', function(e){
            var button = $(this);
            e.preventDefault();
            $('.popover').popover('hide');
                setTimeout(function() {
                    if(button.attr('href') == '#our-missions') {
                        $('#popover-spacer').animate({'height': 0}, 150, function() {
                            button.popover('show');
                            $('#popover-spacer-2').animate({'height': $('.popover').height() + 100});
                        });
                    } else {
                        $('#popover-spacer-2').animate({'height': 0}, 50, function() {
                            $('#popover-spacer').animate({'height': $('.popover').height()});
                        });
                        button.popover('show');
                    }

                    setTimeout(function () {
                        if(button.attr('href') == '#education') {
                            $('.popover .arrow').css('left', button.offset().left + 65 - $('.popover').offset().left);
                        } else if(button.attr('href') != '#our-missions') {
                            $('.popover .arrow').css('left', button.offset().left + 73 - $('.popover').offset().left);
                        } else {
                            $('.popover .arrow').css('left', '');
                        }
                    }, 150);
                }, 150);
        });

        // Who we are effects
        $('.who-are-we .us').mouseenter(function() {
            $(this).find('.circular').addClass('active');
            $('.who-are-we .circular:not(.active)').stop().animate({'opacity':'.3'}, 300);
        });

          $('.who-are-we .us').mouseleave(function() {
              $('.who-are-we .circular').removeClass('active');
              $('.who-are-we .circular').stop().animate({'opacity':'1'}, 300);
          });
      });
    </script>
  </body>

</html>
