<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">
  <div id="wrap">
    <div id="main">
      <div class="splash">
      <div class=" navbar navbar-default" style="background-color: transparent;">
        <div class="container">
            <div class="frontpage-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
                <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
                <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
                <li><a href="{{ site.baseurl }}/individual-membership.html">Donate</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="container inner-splash" style="margin-top: 135px;">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="swirl">
              <img src="{{ site.baseurl }}/resources/img/scala-center-swirl.png">
            </div>
            <div class="swirl-text">
              <h1><b>scala</b>center</h1>
              <div>
                For open source. For education.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="vertical-spacer-top"></div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>
              Objectives
            </h2>
            <div class="objectives">
              A new not-for-profit center established at EPFL.<br/>
              <b>Focused on:</b>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a class="btn btn-default btn" href="#open-source">Open Source</a>
            &nbsp;
            <a class="btn btn-default btn" href="#education">Education</a>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom gradient"></div>
    </div>




    <div class="dark-blue-stripe">
      <div class="vertical-spacer-top"></div>
      <div class="mission">
        <div class="container">
          <div class="row">
            <div class="col-md-6 centered col-md-offset-3">
              <h2>Our Missions</h2>
              <ul class="red">
                <li>Independently guide and support the Scala community</li>
                <li>Coordinate and develop open source libraries and tools for the benefit of all Scala users</li>
                <li>Provide deep, and quality, educational materials for Scala</li>
              </ul>
              <div class="text-center">
                <a class="btn btn-default btn" href="http://scala-lang.org/blog/2016/03/14/announcing-the-scala-center.html">See the blog article</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

    <div class="light-blue-stripe">
      <div class="vertical-spacer-top" id="open-source"></div>
      <div class="open-source">
        <div class="container">
          <div class="row">
            <div class="col-md-12"><h2>Open Source</h2></div>
            <div class="col-md-6 col-md-offset-3 centered">
              <!-- <div class="sect-header">Open Source</div> -->
              <div class="improve">Let's improve Scala together. The Scala Center seeks to:</div>
              <ul class="red">
                <li>Coordinate and direct the open source development of libraries/tools of broad benefit to the community.</li>
                <li>Substantially grow our community of open source contributors.</li>
                <li>Improve the landscape of Scala's libraries.</li>
                <li>Provide scaffolding to help the community develop, publish, find, and evaluate Scala libraries.</li>
              </ul>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-12">
              <p>
                We'll start by consulting with the user community, defining common
                goals, and organizing contributions and its own resources to achieve
                these goals.
              </p>
              <div class="text-center"><a class="btn btn-default btn" href="{{ site.baseurl }}/contact.html">Join the Discussion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

    <div class="light-grey-stripe">
      <div class="vertical-spacer-top" id="education"></div>
      <div class="education">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h2>Education</h2>
              <!-- <div class="sect-header">Education</div> -->
              <!-- <div class="moocs-coursera">Our Scala MOOCs on Coursera</div> -->
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 centered">
              <div class="the-courses">The courses:</div>
              <ul class="course-list">
                <li>
                  <div class="title">Functional Programming Principles in Scala</div>
                  <div class="description"><em>Taught by:</em> Martin Odersky</div>
                </li>
                <li>
                  <div class="title">Functional Program Design in Scala</div>
                  <div class="description"><em>Taught by:</em> Martin Odersky</div>
                </li>
                <li>
                  <div class="title">Parallel Programming</div>
                  <div class="description"><em>Taught by:</em> Viktor Kuncak, Aleksandar Prokopec</div>
                </li>
                <li>
                  <div class="title">Big Data Analysis in Scala and Spark</div>
                    <div class="description"><em>Taught by:</em> Heather Miller</div>
                </li>
              </ul>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-12 text-center">
              <a href="" class="btn btn-default">View al courses</a>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

    <!-- <span class="entypo heart"> -->
    <div class="dark-blue-stripe">
      <div class="vertical-spacer-top"></div>
      <div class="supporters">
        <div class="container">
          <div class="row">
            <div class="col-md-12text-center">
              <!-- <div class="sect-header">Brought to you by</div> -->
              <h2>Brought to you by</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
              <div class="col-sm-12">
               <a href="http://epfl.ch" style="border: none;"><img src="{{ site.baseurl }}/resources/img/epfl.png" /></a>
              </div>
              <div class="subtitle col-sm-12">Advisory Board members:</div>
              <div class="col-sm-4">
                <a href="http://www.spark.tc/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/ibm.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.verizon.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/verizon.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.goldmansachs.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/goldman.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.gonitro.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/nitro.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.lightbend.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/lightbend.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.47deg.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/47deg.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.sap.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/sap.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4">
                <a href="http://www.tapad.com/" style="border: none;"><img src="{{ site.baseurl }}/resources/img/tapad.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-sm-4 hidden-xs"></div>
            </div>
            <div class="col-md-12 text-center">
              <span class="subtitle col-sm-12">Backer-level members:</span>
              <br/><br/><br/>
              <div class="text-center back-level col-md-12">
                <a href="https://twitter.com/andy1138" class="col-md-4">Andy Hicks</a>
                <a href="http://trondbjerkestrand.no/" class="col-md-4">Trond Bjerkstand</a>
                <a href="http://www.heikoseeberger.de/" class="col-md-4">Heiko Seeberger</a>
              </div>
              <div class="col-md-12 founding-blurb">
                <p>
                  The Scala Center is backed by <a href="http://epfl.ch">EPFL</a>, a world-class research
                  university in Lausanne, Switzerland, several industries that depend
                  on Scala every day, and countless individual members of the Scala
                  community.
                </p>
                <p>
                  All of our members, individual and corporate, are actively involved
                  in the Scala project. We are a coalition of individuals and
                  organizations working together to contribute to Scala.
                </p>
                <div class="subtitle" style="font-weight: 900;">Interested in joining the effort?</div>
                <p>
                The best way to help is to get involved in the Scala project!
                </p>
                <p>
                  We also accept sponsorships/donations to be able to fund important project work that would otherwise not be possible.
                </p>
                <div class="text-center">
                  <a class="btn btn-default btn" href="{{ site.baseurl }}/faqs.html">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>

    <div class="light-blue-stripe" style="padding-bottom: 70px;">
      <div class="vertical-spacer-top"></div>
      <div class="who-are-we">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <!-- <div class="sect-header">Who are we?</div> -->
              <h2>Who are we?</h2>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <div class="us col-md-4 text-center">
              <div class="circular martin"></div>
              <div class="name">Martin Odersky</div>
              <div class="about">Creator of Scala</div>
            </div>
            <div class="us col-md-4 text-center">
              <div class="circular heather"></div>
              <div class="name">Heather Miller</div>
              <div class="about">Scala Team Member.<br />PhD at EPFL.</div>
            </div>
            <div class="us col-md-4 text-center">
              <div class="circular jon"></div>
              <div class="name">Jon Pretty</div>
              <div class="about">Longtime Scala community leader</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2">
              <br /><br />
              <div class="subtitle text-center">Interested in joining us?</div>
              <p class="join-us">
                We're looking for motivated team members to help shape Scala's future.
              </p>
              <div class="text-center"><a class="btn btn-default btn" href="{{ site.baseurl }}/jobs.html">Learn More</a></div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-bottom"></div>
    </div>
  </div>
  </div>

    {% include footer.html %}


    <script type="text/javascript">
      $(document).ready(function(){
        // background image on frontpage
        $(".splash").backstretch("{{ site.baseurl }}/resources/img/home-bg.png");
      });
    </script>
  </body>

</html>
